
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Paypal Ionic 5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Simple Payment</ion-card-subtitle>
      <ion-card-title>PayPal Sample</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{currencyIcon}}{{paymentAmount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
